<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decimal to IEEE 754 Converter</title>
<body>
    <style>
        @font-face {
            font-family: space-mono;
            src: url("{{ url_for('static', filename='fonts/SpaceMono-Regular.ttf') }}");
        }
        body {
            font-family: space-mono;
            background-color: lightblue;
            margin: 24px;
            font-size: 24px;
        }
        select {
            font-family: space-mono;
            border-radius: 0;
            border: 0;
            font-size: 20px;
        }
        input {
            font-family: space-mono;
            border-radius: 0;
            border: 0;
            font-size: 20px;
        }
    </style>

    <div style="background-color: #ebb387;">
        <h1 style="padding: 15px; margin: 0; font-size: 48px;">Decimal to IEEE 754 Converter</h1>
        <p style="padding: 15px; margin-top: -30px;">by PJ Kim</p>
        <p style="padding: 15px; margin-top: -15px; color: #a47d5e">
            I created this website to help understand IEEE 754 number format. 
            You can enter a decimal number below and select a precision. 
            Then, you press submit to convert it into IEEE 754 format! 
            If you want to learn more, scroll down!
        </p>
    </div>

    <div style="padding: 15px; margin-top: -30px;">
        <form action="/" method="post">
            <p>Enter a decimal number and convert it to IEEE 754 format!</p>
    
            <label for="decimal">Decimal Number:</label>
            <input type="text" inputmode="decimal" pattern="-?[0-9]*[.,]?[0-9]+" id="decimal" name="decimal" step="any" required><br>
            
            <label for="bits">Precision:</label>
            <select name="bits" id="bits">
                <option value="16">16-bit</option>
                <option value="32">32-bit</option>
                <option value="64">64-bit</option>
                <option value="128">128-bit</option>
                <option value="256">256-bit</option>
            </select><br>
            <br>
            <input type="submit" value="Convert to IEEE 754">
        </form>
    
        {% if result_description %}
        <div class="result" style="word-wrap: break-word; color: #5e9aa4; margin-top: 15px;">
            <p>{{ result_description }}</p>
            {% if ieee754_number %}
                <p style="font-size: 48px; margin-top: -15px;">{{ ieee754_number }}</p>
            {% endif %}
        </div>
        {% endif %}
    </div>

    <div style="background-color: #ebb387;">
        <p style="padding-left: 15px; padding-right: 15px; padding-top: 15px;">What is a Decimal Number?</p>
        <p style="padding-left: 15px; padding-right: 15px; color: #a47d5e">
            Decimal numbers are the standard system for denoting integers. 
            Decimal numbers are base 10. 
            This means there are 10 different numerals. 
            The digits are 0, 1, 2, 3, 4, 5, 6, 7, 8, & 9.
        </p>
        <p style="padding-left: 15px; padding-right: 15px; padding-top: 15px;">What is a Binary Number?</p>
        <p style="padding-left: 15px; padding-right: 15px; color: #a47d5e">
            Binary numbers are used in computers. 
            Computers use a system of switches to store and manipulate data. 
            The switches have two values: on or off. 
            Binary numbers are base 10. 
            This means there are 2 different digits: 0 and 1. 
            Computers can easily store and manipulate binary numbers due to only having two values.
        </p>
        <p style="padding-left: 15px; padding-right: 15px; padding-top: 15px;">What is a IEEE 754 Number?</p>
        <p style="padding-left: 15px; padding-right: 15px; padding-bottom: 15px; color: #a47d5e">
            IEEE 754 is a standard for representing numbers using binary. 
            This means it is used widely in computers to store numbers. 
            An IEEE 754 number consists of 3 parts. 
            The first part is the sign. 
            If the first bit is 0 then the number is positive. 
            If the first bit is 1 then the number is negative. 
            The second part is the biased exponent. 
            Depending on the precision, the biased exponent is a different amount of bits. 
            The biased exponent tells what degree the mantissa is raised to. 
            The mantissa is the third part. 
            The mantissa is the number in scientific notation (without the exponent). 
            Numbers can be stored with differing amounts of precision. 
            The most common are half, single, double, quadruple, and octuple precision which require 16, 32, 64, 128, 256 bits accordingly.
        </p>
    </div>
    
</body>
</html>
